:root {
  --narinci: #fe5c24;
  --mavi: #0c3e72;
  --aciqmavi: #2493e0;
}
body {
  overflow-x: hidden;
  background: #092742; 
}
/* Ümumi stil */
 header {
  font-family: "Open Sans", sans-serif;
}
.txt-mavi { color: var(--mavi); }
.txt-orange { color: var(--narinci); }
.bgorange { background-color: var(--narinci); }
.bgmavi { background-color: var(--aciqmavi); }
.bgdarkermavi{ background: var(--mavi);}
.txt-gray { color: #777; }
h2{
  line-height: 40px;
}
#bglightmavi {
  background: #162b45;
  padding: 70px 0;
}
.bgdarkmavi{ background: #092742; }


/* Header */
header .topbar {
  padding: 8px 0;
  font-size: 14px;
}
header .list-inline .list-inline-item {
  margin-right: 20px;
}
header .navbar-nav {
  display: flex;
  gap: 20px;
}
header .btn {
  padding: 13px 36px;

  font-size: 16px;
  text-transform: capitalize;
}
header .btn:hover,.search:hover,.pic4:hover{
  background: var(--aciqmavi)!important;
}
header nav .navbar-nav .nav-link:hover,
header .list-inline-item .active ,footer ul li a:hover{
  color: var(--narinci)!important;
}

/* Banner */
#hero-banner {
  position: relative;
  height: 83vh;
  width: 100%;
  max-width: 100vw;
  background: url('../img/banner_bg.png') center/cover no-repeat;
}
.banner-part p { font-size: 24px; }
.banner-part .card-img-overlay .btn{ 
  margin-top:60px!important;
  padding: 20px 62px;
}
.banner-part .card-img-overlay  .btn:hover { background: var(--narinci); }
.banner-part .row .btn{
padding:13px 30px;
}

/* Form */
.form-part {
  padding: 30px;
  max-width: 1140px;
  margin: -80px auto 0;
  position: relative;
  z-index: 10;
  background: white;
}
.form-part .active, .form-part .nav-link:hover{
  border-color:var(--aciqmavi)!important;
font-weight: normal;

color: var(--mavi)!important;
}

.form-part form .form-select,
.form-control {
  border-color: var(--aciqmavi);
  border-radius: 0;
  color: var(--aciqmavi);
  height: 50px;
  display: flex;
  align-items: center;
}

/* Booking part */
.booking-part {   padding:120px 0; }

/* Top Places to visit */
.place-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}
.place-card img {
  transition: transform 0.5s ease;
  width: 100%;
  object-fit: cover;
}
.place-card .overlay {
  position: absolute;
  padding: 40px;
   bottom: 0;     
  left: 0;      
  right: 0;       
  height: 100%;      
  background: rgb(12, 62, 114,0.5);
  display: flex;
  flex-direction: column;
  justify-content:end; 
  opacity: 0;
  transition: 0.5s ease;
}

.place-card:hover .overlay {
  opacity: 1;
}
.pic4{
  margin-top: 50px;
  padding: 13px 30px;
}
/* Slider arxa fon */
.firstslide {
  position: relative;  
height: 100vh !important;
  background: url('../img/event_bg.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;  
}


/* Event card */
.event-card {
  max-width: 600px;
  border-radius: 12px;
  width:90%;
  padding: 20px;
  margin: auto;
}
.event-card h5 {
  color: var(--narinci);
  font-weight: 600;
  margin-bottom: 10px;
}
.event-card h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.event-card p { font-size: 16px; 
  margin-bottom: 8px; }
.rating i { color: var(--narinci);
   margin-right: 3px; }
.event-card .btn {
  padding: 12px 35px;
  background: var(--narinci);
  border: none;
}
.event-card a{
  width:53%;
}
.event-card .btn:hover { background: var(--aciqmavi); }

/* Card overlay share icon */
.card-group .card-img-overlay i,.designshare{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-group .card-img-overlay i{
  position: absolute;
  bottom: 205px;
  right: 30px;
}
/* Carousel idarəetmə */
.container-fluid .carousel-control-prev-icon,
.container-fluid .carousel-control-next-icon {
  color: var(--narinci)!important;
  background: #ffffff50 !important;
  border-radius: 50%;
}

.what-they-said .card {
  background: #0e477d !important;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15);
  min-height: 320px; 
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align:left;
}

.what-they-said .swiper {
  overflow: visible !important;
  
}
.what-they-said .swiper-button-prev,
.what-they-said .swiper-button-next {
display: none;
}
.firstslide .swiper-button-prev,
.firstslide .swiper-button-next{
background: #ffffff90;
padding:30px;
border-radius: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.services{
  padding:80px 0;
}
footer .container-fluid {
  padding:30px 15px;
}
footer .bgdarkmavi p{
  margin:0;
}
footer button{
  padding: 10px 16px;

  font-size: 10px;
}
 input {

  padding: 5px 20px;
  width:65%;
}
footer ul li{
  margin-bottom: 10px;
}
/* Responsive */
@media (min-width: 768px) {
  .container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  h2{
    font-size: 3vw; 
    
  }


  h1 { 
    font-size: 9vw; 
     margin-bottom: 22px;
      text-transform: capitalize; }
  .banner-part p { font-size: 25px; line-height: 28px; }
  #hero-banner { height: 120vh; }
  .section-text p { width: 45%; }
  .booking-part h2 { font-size: 46px; }

.what-they-said .swiper-button-prev,
.what-they-said .swiper-button-next {
  position: absolute;
  top: -50px; 
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color:white;
  background: var(--aciqmavi)!important;
font-size: 10px;
  opacity: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.what-they-said .swiper-button-prev {
  position: absolute;
  left:90%;

}
.firstslide .btn{
  width:35%;
}
}
