:root {
  --narinci: #fe5c24;
  --mavi: #0c3e72;
  --aciqmavi: #2493e0;
}

/* Ümumi stil */
body, header {
  font-family: "Open Sans", sans-serif;
}
.txt-mavi { color: var(--mavi); }
.txt-orange { color: var(--narinci); }
.bgorange { background-color: var(--narinci); }
.bgmavi { background-color: var(--aciqmavi); }
.txt-gray { color: #777; }

#bglightmavi {
  background: #162b45;
  padding: 70px 0;
}
.bgdarkmavi{ background: #092742; }

/* Header */
header .topbar {
  padding: 8px 0;
  font-size: 14px;
}
header .list-inline .list-inline-item {
  margin-right: 20px;
}
header .navbar-nav {
  display: flex;
  gap: 20px;
}
header .btn {
  padding: 13px 56px;
  font-size: 16px;
  text-transform: capitalize;
}
header .btn:hover {
  background: var(--aciqmavi);
}
header nav .navbar-nav .nav-link:hover,
header .list-inline-item .active {
  color: var(--narinci);
}

/* Banner */
#hero-banner {
  position: relative;
  height: 83vh;
  width: 100%;
  max-width: 100vw;
  background: url('../img/banner_bg.png') center/cover no-repeat;
}
.banner-part p { font-size: 24px; }
.banner-part .btn {
  margin-top: 60px;
  padding: 20px 62px;
}
.banner-part .btn:hover { background: var(--narinci); }

/* Form */
.form-part {
  padding: 30px;
  max-width: 1140px;
  margin: -80px auto 0;
  position: relative;
  z-index: 10;
}
.form-part form .form-select,
.form-control {
  width: 100%;
  border-color: var(--aciqmavi);
  border-radius: 0;
  color: var(--aciqmavi);
  height: 50px;
  display: flex;
  align-items: center;
}

/* Booking part */
.booking-part { padding-top: 120px; }
/* Top Places to visit */
.place-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.place-card img {
  transition: transform 0.5s ease;
}
.place-card .overlay {
  position: absolute;
  inset: 0;
  background: rgb(12, 62, 114,0.5);
  display: flex;
  flex-direction: column;
  justify-content:end; /* məzmunu aşağı çək */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.place-card:hover .overlay {
  opacity: 1;
}


/* Slider arxa fon */
.firstslide {
  position: relative;
  height: 83vh;
  width: 100%;
  background: url('../img/event_bg.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Event card */
.event-card {
  max-width: 600px;
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.event-card h5 {
  color: var(--narinci);
  font-weight: 600;
  margin-bottom: 10px;
}
.event-card h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.event-card p { font-size: 16px; 
  margin-bottom: 8px; }
.rating i { color: var(--narinci);
   margin-right: 3px; }
.event-card .btn {
  padding: 12px 35px;
  border-radius: 30px;
  background: var(--narinci);
  border: none;
}
.event-card .btn:hover { background: var(--aciqmavi); }

/* Card overlay share icon */
.card-group .card-img-overlay i,.designshare{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-group .card-img-overlay i{
  position: absolute;
  bottom: 205px;
  right: 30px;
}
/* Carousel idarəetmə */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--narinci);
  border-radius: 50%;
  padding: 12px;
}
.what-they-said .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15);
}
.what-they-said .card p {
  font-size: 15px;
  color: #777;
}
.what-they-said img {
  border: 3px solid var(--narinci);
  padding: 3px;
}

footer .container-fluid {
  padding:30px 15px;
}
/* Responsive */
@media (min-width: 768px) {
  .container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  h1 { font-size: 130px;
     margin-bottom: 22px;
      text-transform: capitalize; }
  .banner-part p { font-size: 25px; line-height: 28px; }
  #hero-banner { height: 120vh; }
  .section-text p { width: 45%; }
  .booking-part h2 { font-size: 46px; }
}
